@import "modules";

[data-view] {
	pointer-events: none;
	opacity: 0;
	@include transtrans(", opacity 0.5s ease");

	&:not(.draw) {
		display: none !important;
	}

	&.transition-in {
		opacity: 0;
		@include transition(none);
	}

	&.show {
		opacity: 1;
		pointer-events: auto;
		@include transform(none);
	}
}

@font-face  {
	font-family: AppFont;
	src: url(../fonts/Titillium_Web/TitilliumWeb-Regular.ttf);
}
@font-face  {
	font-family: AppFont;
	font-weight: bold;
	src: url(../fonts/Titillium_Web/TitilliumWeb-Bold.ttf);
}

body {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: black;
	color: white;
	// font-family: Arial, sans-serif;
	font-family: AppFont;
	line-height: 1.1;

	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */

	-webkit-tap-highlight-color: transparent;

}

svg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

[data-nav-context] {
	pointer-events: none;

	&:not(.draw) {
		display: none !important;
	}
}

.view_container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	&.seq-before {
		@include transform(translateX(-100%));
	}
	&.seq-after {
		@include transform(translateX(100%));
	}

	&[data-view="choose_action"] {
		&.transition-in {
			@include transform(scale(0.5));

			[data-view] {
				@include transform(none !important);
			}
		}

		&.transition-out {
			@include transform(scale(0.5));
		}
	}

	&[data-view="edit_pokemon"].transition-in {
		.edit_pokemon_container .moves_and_stats_container .section_container .stat_rows .stat_row .stat_bar_container .bar_inner_container {
			.stat_bar, .stat_bar_extra {
				@include transition(none !important);
				width: 0 !important;
			}
		}
	}

	&.scale_in_out {
		&.transition-in, &.transition-out {
			@include transform(scale(0.5));
		}
	}
}

.centering_container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	@include flex();
}

.battle_scene { 
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 50%;

	.battle_side { 
		position: absolute;

		&.close_side {
			left: 0.2rem;
			bottom: 0.2rem;

			.pokemon_info_box_container {
				left: 0;
				bottom: 0;

				&.show_slideout {
					.stat_slideout {
						@include transform(translateX(100%) translateX(-0.5rem));
					}
				}
			}
		}

		&.far_side {
			right: 0.2rem;
			top: 0.2rem;

			.pokemon_info_box_container {
				right: 0;
				top: 0;

				&.show_slideout {
					.stat_slideout {
						@include transform(translateX(-100%) translateX(0.5rem));
					}
				}
			}
		}

		.pokemon_info_box_container { 
			position: absolute;
			width: 5.2rem;
			height: 2rem;
			@include transtrans(", opacity 0.5s ease");

			&.fainted {
				opacity: 0;
				@include transform(translateY(2rem));
			}

			&.show_slideout {
				.stat_slideout {
					.slideout_toggle {
						.icon {
							@include transform(scaleX(-1));
						}
					}
				}
			}

			.pokemon_info_box { 
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background-color: rgb(32, 32, 32);
				box-sizing: border-box;
				padding: 0.2rem;
				@include flex();
				@include align(flex-start);
				z-index: 10;

				.pokemon_name { 
					position: relative;
					font-size: 0.4rem;
					font-weight: bold;
					margin-bottom: 0.1rem;
				}

				.pokemon_hp_bar_container { 
					position: relative;
					width: 100%;
					height: 0.5rem;
					background-color: rgb(16, 16, 16);
					margin-bottom: 0.1rem;

					.pokemon_hp_inner { 
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						background-color: green;
						@include origin(left center);
						@include transtrans("");
						will-change: transform;
					}
				}

				.pokemon_hp_num { 
					position: relative;
					font-size: 0.4rem;
				}
			}

			.stat_slideout { 
				position: absolute;
				width: auto;
				height: 100%;
				@include flex();
				@include row();
				background-color: rgb(64, 64, 64);
				z-index: 5;
				@include transquick("");

				&.right {
					right: -0.5rem;
					flex-direction: row;

					.pokemon_stats {
						.stat_row {
							.stat_name {
								margin-right: 0.15rem;
							}
							.stat_bar {
								margin-right: 0.15rem;
							}
						}
					}

					.slideout_toggle {
						.icon {
							border-top: 0.15rem solid transparent;
							border-left: 0.2rem solid white;
							border-bottom: 0.15rem solid transparent;
						}
					}
				}

				&.left {
					left: -0.5rem;
					flex-direction: row-reverse;

					.pokemon_stats {
						@include align(flex-end);

						.stat_row {
							flex-direction: row-reverse;

							.stat_name {
								margin-left: 0.15rem;
							}
							.stat_bar {
								margin-left: 0.15rem;
							}
						}
					}

					.slideout_toggle {
						.icon {
							border-top: 0.15rem solid transparent;
							border-right: 0.2rem solid white;
							border-bottom: 0.15rem solid transparent;
						}
					}
				}

				.pokemon_stats {
					position: relative;
					width: 3rem;
					height: 100%;
					box-sizing: border-box;
					padding: 0.2rem;
					@include flex();
					@include align(flex-start);

					.stat_row { 
						position: relative;
						@include flex();
						@include row();
						margin-bottom: 0.2rem;
						font-size: 0.3rem;

						&:last-child {
							margin-bottom: 0;
						}

						.stat_name { 
							position: relative;
						}

						.stat_bar { 
							position: relative;
							height: 0.2rem;
							background-color: yellow;
						}

						.stat_num { 
							position: relative;

						}
					}
				}

				.slideout_toggle {
					position: relative;
					@include shrink(0);
					width: 0.5rem;
					height: 100%;
					@include flex();

					.icon {
						position: relative;
						width: 0;
						height: 0;
						@include transquick("");
					}
				}
			}
		}
	}
}

.ui_scene {
	position: absolute;
	left: 0;
	top: 50%;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

.text_box_outer {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 0.2rem;
	@include flex();

	.text_box_inner {
		position: relative;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		border: 0.2rem solid rgb(64, 64, 64);
		background-color: rgb(32, 32, 32);
		padding: 0.4rem;

		.text_box_text_area {
			position: relative;
			width: 100%;
			height: 100%;
			color: white;
			font-size: 0.5rem;
			line-height: 1.4;
		}
	}
}

.buttons_outer_container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	@include flex();
	@include row();
}

.buttons_container {
	position: relative;
	@include grow(1);
	height: 100%;
	box-sizing: border-box;
	padding: 0.2rem;
	@include flex();
	@include row();
	flex-wrap: wrap;
	@include justify(space-between);
	align-content: space-between;

	&.pokemon_move_buttons {
		width: calc(100% - 1.2rem);
		left: auto;
		right: 0;
	}
	&.pokemon_switch_buttons {
		width: calc(100% - 1.2rem);
		left: auto;
		right: 0;
	}

	.category_button {
		position: relative;
		height: 100%;
		background-color: rgb(32, 32, 32);
		flex-basis: 0;
		@include flex();

		&.fight {
			@include grow(2);
			margin-right: 0.1rem;
		}
		&.switch {
			@include grow(1);
			margin-left: 0.1rem;
		}

		.button_text {
			position: relative;
			font-weight: bold;
			font-size: 1rem;
		}
	}

	.pokemon_move_button {
		position: relative;
		height: calc(50% - 0.1rem);
		width: calc(50% - 0.1rem);
		background-color: rgb(32, 32, 32);
		box-sizing: border-box;
		@include flex();

		&.disabled {
			opacity: 0.5;
			pointer-events: none;

			.top_area {
				display: none;
			}
			.lower_area {
				display: none;
			}
		}

		.top_area { 
			position: relative;
			width: 100%;
			height: 1.2rem;
			@include flex();
			@include row();
			@include shrink(0);

			.move_type_container { 
				position: relative;
				width: 1.2rem;
				height: 1.2rem;
				background-color: rgb(128, 128, 128);
				@include shrink(0);
				@include flex();

				.type_icon { 
					position: relative;
					width: 0.6rem;
					height: 0.6rem;
				}

				.type_name { 
					position: relative;
					margin-top: 0.1rem;
					font-size: 0.3rem;

				}
			}

			.pokemon_move_name_text { 
				position: relative;
				@include grow(1);
				margin-left: 0.2rem;
				margin-right: 0.2rem;
				font-size: 0.45rem;
			}

			.stats {
				position: relative;
				@include flex();
				@include row();

				.stat_section { 
					position: relative;
					@include flex();
					margin-right: 0.1rem;

					&.disabled {
						display: none;
					}

					.stat_header { 
						position: relative;
						width: 0.8rem;
						height: 0.5rem;
						background-color: rgb(128, 128, 128);
						@include flex();
						margin-bottom: 0.05rem;
						font-size: 0.3rem;
					}

					.stat_num { 
						position: relative;
						font-size: 0.4rem;
						line-height: 1;
					}
				}
			}
		}

		.lower_area { 
			position: relative;
			width: 100%;
			@include grow(1);
			box-sizing: border-box;
			padding: 0.2rem;
			@include flex();
			@include row();
			@include justify(flex-start);

			.move_description { 
				position: relative;
				font-size: 0.3rem;
			}
		}
	}

	.pokemon_switch_button {
		position: relative;
		height: calc(50% - 0.1rem);
		width: calc(33% - 0.1rem);
		background-color: rgb(32, 32, 32);
		box-sizing: border-box;
		padding: 0.3rem;
		@include flex();
		@include row();

		&.disabled {
			opacity: 0.5;
			pointer-events: none;
		}

		.pokemon_switch_name_text {
			position: relative;
			font-size: 0.4rem;
			font-weight: bold;
		}
	}
}

.menu_back {
	position: relative;
	margin-left: 0.2rem;
	@include shrink(0);
	width: 1rem;
	height: calc(100% - 0.4rem);
	background-color: rgb(32, 32, 32);
	@include flex();

	&.disabled {
		display: none;
	}

	.icon {
		position: relative;
		width: 0;
		height: 0;
		border-top: 0.225rem solid transparent;
		border-right: 0.3rem solid white;
		border-bottom: 0.225rem solid transparent;
	}
}

.waiting_text_view {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	@include flex();

	&.draw {
		.waiting_text_container {
			.waiting_text {
				.waiting_text_dot {
					animation: dot_fade 2s ease infinite;

					&.one {
						@include animdelay(0.25s);
					}
					&.two {
						@include animdelay(0.5s);
					}
					&.three {
						@include animdelay(0.75s);
					}
				}
			}
		}
	}
}

.waiting_text_container { 
	position: relative;
	height: 2rem;
	padding: 0 0.6rem;
	background-color: rgb(64, 64, 64);
	@include flex();

	.waiting_text { 
		position: relative;
		@include flex();
		@include row();
		font-size: 0.4rem;

		.waiting_text_part { 
			position: relative;
			margin-right: 0.15rem;

			&:last-child {
				margin-right: 0;
			}
		}

		.waiting_text_dot { 
			position: relative;
			opacity: 0;
		}
	}
}

@keyframes dot_fade {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}



.nickname_entry_outer_container { 
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	@include flex();

	.nickname_entry_container { 
		position: relative;
		width: 8rem;
		@include flex();
		@include align(flex-start);

		.nickname_entry_title { 
			position: relative;
			font-size: 0.4rem;
			margin-bottom: 0.1rem;
		}

		.nickname_entry_row { 
			position: relative;
			@include flex();
			@include row();
			height: 0.8rem;
			width: 100%;

			.nickname_entry_input { 
				position: relative;
				@include grow(1);
				height: 100%;
				font-size: 0.4rem;
				font-family: AppFont;
				border: 0;
				box-sizing: border-box;
				padding: 0 0.1rem;
				margin-right: 0.2rem;
			}

			.nickname_entry_done_button { 
				position: relative;
				height: 100%;
				width: 1.5rem;
				@include flex();
				background-color: rgb(32, 32, 32);
				font-size: 0.4rem;
			}
		}
	}
}

.netplay_lobby_outer_container { 
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	@include flex();
	@include row();
	box-sizing: border-box;
	padding: 0.2rem;

	.netplay_lobby_side { 
		position: relative;
		width: 50%;
		height: 100%;
		box-sizing: border-box;
		@include flex();
		@include align(flex-start);
		padding: 0.2rem;

		.room_list_container { 
			position: relative;
			width: 100%;
			height: 100%;
			@include flex();
			@include align(flex-start);

			.room_list_title { 
				position: relative;
				font-size: 0.4rem;
				font-weight: bold;
				margin-bottom: 0.2rem;
				@include shrink(0);
			}

			.room_list { 
				position: relative;
				@include grow(1);
				width: 100%;
				overflow: auto;
				box-sizing: border-box;
				border: 1px solid rgb(64, 64, 64);
				margin-bottom: 0.2rem;
				padding: 0.2rem;

				.room_list_option {
					position: relative;
					width: 100%;
					height: 1rem;
					background-color: rgb(32, 32, 32);
					font-size: 0.4rem;
					@include flex();
					margin-bottom: 0.1rem;
				}
			}

			.make_room { 
				position: relative;
				width: 100%;
				height: 1rem;
				font-size: 0.4rem;
				background-color: rgb(32, 32, 32);
				@include flex();
				@include shrink(0);
			}
		}

		.player_info_container { 
			position: relative;
			width: 100%;
			height: 100%;
			@include flex();
			@include align(flex-start);

			.nickname_info { 
				position: relative;
				width: 100%;
				margin-bottom: 0.2rem;

				.nickname_header { 
					position: relative;
					font-size: 0.4rem;
					margin-bottom: 0.1rem;
				}

				.nickname_row { 
					position: relative;
					width: 100%;
					@include flex();
					@include row();
					@include justify(flex-start);

					.nickname { 
						position: relative;
						font-size: 0.5rem;
						@include grow(1);
						margin-right: 0.2rem;
					}

					.edit_button { 
						position: relative;
						width: 1.2rem;
						background-color: rgb(32, 32, 32);
						height: 0.7rem;
						@include flex();
						font-size: 0.4rem;
					}
				}
			}

			.team_selected_info { 
				position: relative;
				width: 100%;

				.team_selected_header { 
					position: relative;
					font-size: 0.4rem;
					margin-bottom: 0.1rem;

				}

				.team_select_dropdown { 
					display: block;
					position: relative;
					-webkit-appearance: none;
					width: 100%;
					height: 1rem;
					box-sizing: border-box;
					border: 0.02rem solid white;
					background-color: transparent;
					font-size: 0.5rem;
					color: white;
					font-family: AppFont;
					padding: 0 0.2rem;
				}

				.team_edit_button_row { 
					position: relative;
					margin-top: 0.1rem;
					width: 100%;
					height: 1rem;
					@include flex();
					@include row();

					.team_edit_button { 
						position: relative;
						height: 100%;
						@include grow(1);
						background-color: rgb(32, 32, 32);
						margin-right: 0.2rem;
						font-size: 0.4rem;
						@include flex();

						&:last-child {
							margin-right: 0;
						}
					}
				}
			}
		}
	}
}

.team_builder_container { 
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	@include flex();

	.info_window { 
		position: relative;
		width: 100%;
		@include grow(1);

		.prompt_text {
			position: relative;
			font-size: 0.5rem;
		}

		.pokemon_list_container { 
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			bottom: 0.2rem;
			box-sizing: border-box;
			padding: 0.4rem;
			overflow: auto;

			.pokemon_option { 
				position: relative;
				width: 100%;
				height: 2rem;
				background-color: rgb(32, 32, 32);
				@include flex();
				@include row();
				margin-bottom: 0.2rem;

				.pokemon_picture_container { 
					position: relative;
					width: 2rem;
					height: 2rem;
					background-color: rgb(64, 64, 64);
					margin-right: 0.3rem;
					@include flex();
					@include shrink(0);

					.pokemon_picture { 
						position: relative;
						width: calc(100% - 0.2rem);
						height: calc(100% - 0.2rem);
						@include contain();
					}
				}

				.pokemon_name { 
					position: relative;
					font-size: 0.5rem;
					@include grow(1);
				}

				.type_icon_container { 
					position: relative;
					width: 2rem;
					height: 2rem;
					background-color: rgb(64, 64, 64);
					@include flex();

					.type_icon { 
						position: relative;
						width: 1rem;
						height: 1rem;
					}

					.type_name { 
						position: relative;
						margin-top: 0.1rem;
						font-size: 0.3rem;
					}
				}
			}
		}

		.edit_pokemon_container {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			bottom: 0;
			box-sizing: border-box;
			padding: 0.4rem;
			@include flex();
			@include justify(flex-start);

			.top_row { 
				position: relative;
				width: 100%;
				height: 2rem;
				@include flex();
				@include row();
				margin-bottom: 0.2rem;
				@include shrink(0);

				.back_button { 
					position: relative;
					width: 0.8rem;
					height: 100%;
					background-color: rgb(64, 64, 64);
					@include flex();
					margin-right: 0.4rem;
					@include shrink(0);

					.icon { 
						position: relative;
						border-top: 0.225rem solid transparent;
						border-right: 0.3rem solid white;
						border-bottom: 0.225rem solid transparent;
					}
				}

				.pokemon_image_container { 
					position: relative;
					width: 2rem;
					height: 2rem;
					background-color: rgb(32, 32, 32);
					@include flex();
					margin-right: 0.4rem;
					@include shrink(0);

					.pokemon_image { 
						position: relative;
						width: calc(100% - 0.2rem);
						height: calc(100% - 0.2rem);
						@include contain();
					}
				}

				.pokemon_name_container { 
					position: relative;
					@include grow(1);
					@include flex();
					@include align(flex-start);
					margin-right: 0.4rem;

					.pokemon_name {
						position: relative;
						font-size: 0.8rem;
						margin-bottom: 0.2rem;
					}

					.pokemon_flavor_text {
						position: relative;
						font-size: 0.3rem;
						max-width: 8rem;
					}
				}

				.type_icon_container { 
					position: relative;
					width: 2rem;
					height: 2rem;
					background-color: rgb(32, 32, 32);
					@include flex();
					@include shrink(0);

					.type_icon { 
						position: relative;
						width: 1rem;
						height: 1rem;
					}

					.type_name { 
						position: relative;
						margin-top: 0.1rem;
						font-size: 0.3rem;
					}
				}
			}

			.moves_and_stats_container { 
				position: relative;
				width: 100%;
				@include flex();
				@include row();
				@include justify(space-between);
				// @include grow(1);
				height: calc(100% - 3.9rem);

				.section_container { 
					position: relative;
					// width: calc(50% - 0.1rem);
					@include grow(1);
					flex-basis: 0;
					height: 100%;
					background-color: rgb(32, 32, 32);
					margin-right: 0.2rem;

					&:last-child {
						margin-right: 0;
					}

					&.moves_container {
						@include grow(3);
					}
					&.stats_container {
						@include grow(2);
					}

					.section_view {
						position: absolute;
						left: 0;
						top: 0;
						right: 0;
						bottom: 0;
						@include flex();
						box-sizing: border-box;
						padding: 0.2rem;
					}

					.section_header { 
						position: relative;
						font-size: 0.5rem;
						margin-bottom: 0.2rem;
						text-transform: uppercase;
						@include shrink(0);
					}

					.moves_buttons { 
						position: relative;
						width: 100%;
						@include grow(1);
						@include flex();
						@include justify(space-between);

						.move_button { 
							position: relative;
							width: 100%;
							height: 25%;
							@include grow(1);
							flex-basis: 0;
							margin-bottom: 0.1rem;
							background-color: rgb(64, 64, 64);
							box-sizing: border-box;
							// padding: 0.2rem;
							@include flex();
							@include row();
							@include align(stretch);

							&.empty {
								.move_info_button {
									display: none;
								}
								.move_type_container {
									display: none;
								}
							}

							&:last-child {
								margin-bottom: 0;
							}

							.move_name { 
								position: relative;
								font-size: 0.4rem;
								margin-left: 0.2rem;
								margin-right: 0.2rem;
								@include grow(1);
								@include flex();
								@include row();
								@include justify(flex-start);
							}

							.move_info_button {
								position: relative;
								width: 1rem;
								height: auto;
								@include flex();
								@include shrink(0);

								.move_info_icon {
									position: relative;
									width: 0.5rem;
									height: 0.5rem;
									box-sizing: border-box;
									border-radius: 50%;
									border: 0.04rem solid white;
									@include flex();
									font-size: 0.35rem;
									line-height: 1;
								}
							}

							.move_type_container { 
								position: relative;
								width: 1.2rem;
								height: auto;
								@include flex();
								@include shrink(0);
								background-color: rgb(128, 128, 128);

								.type_icon { 
									position: relative;
									width: 0.6rem;
									height: 0.6rem;
								}

								.type_name { 
									position: relative;
									font-size: 0.3rem;
									margin-top: 0.1rem;

								}
							}
						}
					}

					.stat_rows {
						position: relative;
						width: 100%;
						@include grow(1);
						@include flex();
						// @include justify(space-between);

						.stat_row { 
							position: relative;
							width: 100%;
							height: 1rem;
							@include flex();
							@include row();
							@include justify(flex-start);
							margin-bottom: 0.1rem;

							&:last-child {
								margin-bottom: 0;
							}

							&[data-stat="hp"] {
								.stat_bar_container .bar_inner_container {
									.stat_bar {
										background-color: green;
									}
									.stat_bar_extra {
										background-color: rgb(100, 255, 100);
									}
								}
							}

							.stat_header { 
								position: relative;
								width: 0.55rem;
								margin-right: 0.2rem;
								font-size: 0.3rem;
								text-align: right;
								@include shrink(0);
							}

							.stat_bar_container {
								position: relative;
								@include grow(1);
								height: 0.8rem;
								@include flex();
								@include row();
								@include justify(flex-start);

								.bar_inner_container {
									position: relative;
									width: calc(100% - 0.5rem);
									height: 0.6rem;
									@include flex();
									@include row();
									@include justify(flex-start);

									.stat_bar { 
										position: relative;
										height: 100%;
										background-color: yellow;
										@include shrink(0);
										@include transition(width 0.5s ease);
									}

									.stat_bar_extra {
										position: relative;
										height: 100%;
										background-color: rgb(255, 255, 220);
										@include shrink(0);
										@include transition(width 0.25s ease);
									}

									.stat_num {
										position: relative;
										margin-left: 0.1rem;
										font-size: 0.3rem;
										width: 0.4rem;
										text-align: left;
										@include shrink(0);
									}
								}

							}


							.specialize_button { 
								position: relative;
								width: 0.8rem;
								height: 0.8rem;
								background-color: rgb(64, 64, 64);
								margin-left: 0.2rem;
								@include shrink(0);
								@include flex();

								.plus_icon { 
									position: relative;
									width: 0.4rem;
									height: 0.4rem;

									.line_container {
										position: absolute;
										left: 0;
										top: 0;
										width: 100%;
										height: 100%;
										@include flex();
									}

									.line { 
										position: relative;
										background-color: white;

										&.horizontal {
											width: 100%;
											height: 2px;
										}
										&.vertical {
											width: 2px;
											height: 100%;
										}
									}
								}

								&.active {
									.selected_overlay {
										opacity: 1;
									}
								}

								.selected_overlay { 
									position: absolute;
									left: 0;
									top: 0;
									width: 100%;
									height: 100%;
									box-sizing: border-box;
									border: 0.02rem solid white;
									pointer-events: none;
									opacity: 0;
									@include transition(opacity 0.25s ease);
								}
							}
						}
					}

					.moves_list_container { 
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						box-sizing: border-box;
						padding: 0.2rem;
						overflow: auto;

						.move_list_option { 
							position: relative;
							width: 100%;
							background-color: rgb(64, 64, 64);
							box-sizing: border-box;
							// padding: 0.1rem 0;
							margin-bottom: 0.1rem;

							&:last-child {
								margin-bottom: 0;
							}

							.selected_border {
								position: absolute;
								left: 0;
								top: 0;
								width: 100%;
								height: 100%;
								pointer-events: none;
								box-sizing: border-box;
								border: 0.02rem solid white;
								@include transition(opacity 0.25s ease);
								opacity: 0;
							}

							&.selected {
								.selected_border {
									opacity: 1;
								}
							}

							.top_area { 
								position: relative;
								width: 100%;
								height: 1.2rem;
								@include flex();
								@include row();

								.move_type_container { 
									position: relative;
									width: 1.2rem;
									height: 1.2rem;
									background-color: rgb(128, 128, 128);
									@include shrink(0);
									@include flex();

									.type_icon { 
										position: relative;
										width: 0.6rem;
										height: 0.6rem;
									}

									.type_name { 
										position: relative;
										margin-top: 0.1rem;
										font-size: 0.3rem;

									}
								}

								.move_title { 
									position: relative;
									@include grow(1);
									margin-left: 0.2rem;
									margin-right: 0.2rem;
									font-size: 0.4rem;
								}

								.stats {
									position: relative;
									@include flex();
									@include row();

									.stat_section { 
										position: relative;
										@include flex();
										margin-right: 0.1rem;

										.stat_header { 
											position: relative;
											width: 0.8rem;
											height: 0.5rem;
											background-color: rgb(128, 128, 128);
											@include flex();
											margin-bottom: 0.05rem;
											font-size: 0.3rem;
										}

										.stat_num { 
											position: relative;
											font-size: 0.4rem;
											line-height: 1;
										}
									}
								}
							}

							.lower_area { 
								position: relative;
								width: 100%;
								box-sizing: border-box;
								padding: 0.2rem;
								@include flex();
								@include row();
								@include justify(flex-start);

								.move_description { 
									position: relative;
									font-size: 0.3rem;
								}
							}
						}
					}

				}
			}

			.lower_button_row {
				position: relative;
				width: 100%;
				height: 1.5rem;
				margin-top: 0.2rem;
				@include shrink(0);
				@include flex();
				@include row();

				.add_pokemon_button {
					position: relative;
					@include grow(1);
					height: 100%;
					background-color: rgb(64, 64, 64);
					// @include shrink(0);
					@include flex();
					font-size: 0.5rem;
				}

				.remove_pokemon_button {
					position: relative;
					@include shrink(0);
					height: 100%;
					background-color: rgb(32, 32, 32);
					@include flex();
					font-size: 0.5rem;
					width: 3rem;
					margin-left: 0.2rem;
				}
			}

		}
	}

	.team_window { 
		position: relative;
		width: 100%;
		height: 4rem;
		min-height: 30%;
		@include shrink(0);
		@include flex();
		@include row();
		box-sizing: border-box;
		padding: 0.2rem;
		background-color: rgb(32, 32, 32);

		.team_preview_windows { 
			position: relative;
			@include grow(1);
			height: 100%;
			@include flex();
			@include row();
			flex-wrap: wrap;
			@include justify(space-between);
			align-content: space-between;

			.pokemon_preview_window { 
				position: relative;
				width: calc(33% - 0.1rem);
				height: calc(50% - 0.1rem);
				@include flex();

				&.selected {
					.selected_overlay {
						opacity: 1;
					}
				}

				.pokemon_picture_area { 
					position: relative;
					width: 100%;
					@include grow(1);

					.pokemon_picture_container { 
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						background-color: rgb(64, 64, 64);
						@include flex();

						.pokemon_picture {
							position: relative;
							width: calc(100% - 0.2rem);
							height: calc(100% - 0.2rem);
							@include contain();
						}
					}

					.type_icon_window { 
						position: absolute;
						right: 0;
						top: 0;
						width: 0.8rem;
						height: 0.8rem;
						background-color: rgba(128, 128, 128, 0.7);
						@include flex();

						.type_icon { 

						}
					}
				}

				.pokemon_name_text { 
					position: relative;
					font-size: 0.3rem;
					margin-top: 0.1rem;
					@include shrink(0);
				}

				.selected_overlay {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					box-sizing: border-box;
					border: 0.02rem solid white;
					pointer-events: none;
					opacity: 0;
					@include transition(opacity 0.25s ease);
				}
			}
		}

		.done_button { 
			position: relative;
			width: 3rem;
			height: 100%;
			margin-left: 0.2rem;
			@include flex();
			font-size: 0.5rem;
			background-color: rgb(64, 64, 64);
		}
	}
}

.popup_container { 
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	.darken_bg { 
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.9);
	}

	.prompt_outer_container {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		@include flex();
	}

	.prompt_container { 
		position: relative;
		width: 8rem;
		@include flex();
		@include align(flex-start);

		.prompt_header {
			position: relative;
			font-size: 0.4rem;
			margin-bottom: 0.1rem;
		}

		.team_name_entry_input { 
			position: relative;
			width: 100%;
			height: 0.8rem;
			font-size: 0.4rem;
			font-family: AppFont;
			border: 0;
			box-sizing: border-box;
			padding: 0 0.1rem;
		}

		.button_row { 
			position: relative;
			margin-top: 0.2rem;
			width: 100%;
			height: 1rem;
			@include flex();
			@include row();

			.button { 
				position: relative;
				height: 100%;
				background-color: rgb(64, 64, 64);
				font-size: 0.5rem;
				margin-right: 0.2rem;
				@include flex();

				&.save {
					@include grow(2);
				}
				&.cancel {
					@include grow(1);
					background-color: rgb(32, 32, 32);
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}


#body.landscape {

	.team_builder_container {
		flex-direction: row-reverse;

		.info_window {
			height: 100%;
			width: auto;

			.pokemon_list_container {
				bottom: 0;
			}
		}

		.team_window {
			width: 4.2rem;
			height: 100%;
			flex-direction: column;

			.team_preview_windows {
				.pokemon_preview_window {
					width: calc(50% - 0.1rem);
					height: calc(33% - 0.1rem);
				}
			}

			.done_button {
				width: 100%;
				height: 3rem;
				margin-left: 0;
				margin-top: 0.2rem;
			}
		}
	}
}


.touchable {
	overflow: hidden;
	cursor: pointer;
}

.touchable:not(.no_before):after,
.touchable.no_before .touchable_circle {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2rem;
	height: 2rem;
	opacity: 0;
	background-color: white;
	border-radius: 50%;
	pointer-events: none;
	display: none;
}
.touchable.small:not(.no_before):after, 
.touchable.small.no_before .touchable_circle {
	width: 1rem;
	height: 1rem;
}

.touchable.large:not(.no_before):after,
.touchable.large.no_before .touchable_circle {
	width: 3rem;
	height: 3rem;
}

.touchable.huge:not(.no_before):after,
.touchable.huge.no_before .touchable_circle {
	width: 5rem;
	height: 5rem;
}

.touchable.invert:not(.no_before):after, 
.touchable.invert.no_before .touchable_circle {
	background-color: black;
}

.touchable.touched:not(.no_before):after,
.touchable.touched.no_before .touchable_circle {
	display: block;
	-webkit-animation: touch_bubble 0.5s ease;
	animation: touch_bubble 0.5s ease;
}

@keyframes touch_bubble {
	0% {
		transform:translate(-50%, -50%) scale(0.2);
		opacity: 0;
	}
	10% {
		opacity: 0.5;
	}
	100% {
		transform:translate(-50%, -50%) scale(1.2);
		opacity: 0;
	}
}
@-webkit-keyframes touch_bubble {
	0% {
		-webkit-transform:translate(-50%, -50%) scale(0.2);
		opacity: 0;
	}
	10% {
		opacity: 0.5;
	}
	100% {
		-webkit-transform:translate(-50%, -50%) scale(1.2);
		opacity: 0;
	}
}